@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v49-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
}

:root {
  --background: #FFF;
  --primary-color: #2B7FFF;
  --dark-blue: #011C44;
  --blue: #011F4A;
  --dark-gray: #4A4A4A;
  --gray: #747272;
  --yellow: #FFD02B;

  --play: Play, sans-serif;
  --roboto: Roboto, sans-serif;
}

/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* container */
.container {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--roboto);
  font-size: 22px;
  color: var(--dark-blue);
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

li {
  list-style: none;
}

/* SVG Icons */
.icon {
  display: block;
  transition: fill 0.2s;
}

/* Typography */
h1 {
  font-family: var(--play);
  font-size: 140px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1;
}

h2 {
  font-family: var(--play);
  font-size: 64px;
  font-weight: 700;
  color: var(--dark-blue);
}

p {
  color: var(--gray);
  line-height: 1.5;
}

/* Paragraph */
.subtitle {
  font-size: 18px;
  color: var(--blue);
}

.text_small {
  font-size: 12px;
  color: var(--gray);
}

.why_text_large {
  font-size: 22px;
  line-height: 1.5;
  color: var(--blue);
}

.card_title {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-blue);
}

/* Footer */
footer {
  padding: 56px 0;
  background-color: var(--dark-blue);
  background-image: url("../images/shape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer_group {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  flex-grow: 1;
}

.footer_nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_nav_li {
  color: var(--background);
}

footer a {
  color: var(--background);
  text-decoration: none;
  transition: color 0.2s;
}

footer a:hover {
  color: var(--yellow);
}

.footer_contact {
  font-size: 16px;
  font-weight: 600;
  color: var(--background);
}

.footer_address {
  font-size: 16px;
  font-weight: 400;
  color: var(--background);
}

.footer_info {
  font-size: 14px;
  color: var(--background);
}

.footer_socials {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer_socials .socials {
  display: flex;
  gap: 24px;
}

.footer_socials .icon {
  fill: var(--background);
}

.footer_socials .social {
  transition: transform 0.2s;
}

.footer_socials .social:hover {
  transform: scale(1.1);
}

.footer_copyright {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Button */
.button_main {
  font-size: 18px;
  font-weight: 500;
  color: var(--background);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
  transition: background-color 0.2s, color 0.2s;
}

.button_main:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/* Visual */
.why_title span,
.advantages_title span,
.procedures_title span,
.conatcts_title span,
.modal_descr span {
  color: var(--primary-color);
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  background-color: #FFF;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.header_nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header_socials .socials {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header_socials .icon {
  fill: var(--dark-blue);
}

.header_socials .social {
  transition: transform 0.2s;
}

.header_socials .social:hover {
  transform: scale(1.2);
}

.header_socials .social:hover .icon {
  fill: var(--primary-color);
}

/* About */

.about_section {
  margin-top: -96px;
  padding-top: 212px;
  background-image: url("../images/beauty_zone_preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.about_group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}

.about_title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}

.about_text_small {
  max-width: 248px;
  margin-top: 14px;
  color: var(--dark-gray);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.why_section {
  flex-basis: 100%;
  padding: 96px 0;
}

.why_group {
  display: flex;
  align-items: center;
}

.why_info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 50%;
}

.why_title {
  max-width: 530px;
}

.why_images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex-basis: 50%;
}

.why_images .why_image:nth-child(2) {
  align-self: flex-end;
}

.why_image {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(168, 198, 245, 0.2));
}

.why_image img {
  border-radius: 50%;
}

.why_image img[alt="star-element"],
.why_image img[alt="star-big-element"] {
  position: absolute;
  border-radius: 0;
  filter: none;
}

.why_image:nth-child(1) img:nth-child(1) {
  top: 40px;
  right: -140px;
  width: 64px;
  height: 64px;
  animation: rotate-scale 3s ease-in-out infinite;
}

.why_image:nth-child(1) img:nth-child(2) {
  bottom: 0;
  right: -140px;
  width: 16px;
  height: 16px;
  animation: rotate-scale 4s ease-in-out infinite 0.5s;
}

.why_image:nth-child(1) img:nth-child(3) {
  position: relative;
}

.why_image:nth-child(2) img:nth-child(1) {
  top: -40px;
  left: -60px;
  width: 64px;
  height: 64px;
  animation: rotate-scale 3.5s ease-in-out infinite 1s;
}

.why_image:nth-child(2) img:nth-child(2) {
  position: relative;
}

@keyframes rotate-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* Advantages */

.advantages_section {
  padding: 96px 0;
}

.advantages_title {
  text-align: center;
}

.advantages_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 48px;
}

.advantages_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc((100% - 120px) / 3);
  gap: 8px;
  padding: 24px 32px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
  border-radius: 32px;
}

.advantages_card .icon {
  fill: var(--primary-color);
}

.advantages_card_text {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-blue);
  text-align: center;
}

/* Procedures */

.procedures_section {
  padding: 96px 0;
}

.procedures_title {
  text-align: center;
}

.procedures_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 48px;
}

.procedures_list li {
  width: calc((100% - 32px) / 3);
}

.procedures_card {
  position: relative;
  width: 100%;
  border-radius: 4px 120px 4px 120px;
  overflow: hidden;
  background: var(--blue);
}

.procedures_card img {
  display: block;
  width: 100%;
  height: auto;
}

.procedures_card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(180deg, rgba(1, 28, 68, 0.0) 40%, rgba(1, 28, 68, 0.65) 85%);

  pointer-events: none;
  z-index: 1;
}

.procedures_card_text {
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);

  font-size: 22px;
  color: #FFF;
  text-align: center;
  padding-bottom: 32px;

  z-index: 2;
}

.contacts_section {
  padding-bottom: 96px;
}

.conatcts_title {
  text-align: center;
  margin-bottom: 48px;
}

.contacts_container {
  display: flex;
  gap: 32px;
  align-items: stretch;
}

.conatct_map {
  flex-basis: 60%;
}

.conatct_map iframe {
  width: 100%;
  height: 100%;
  min-height: 481px;
  border-radius: 32px;
}

.contacts_form {
  flex-basis: 40%;
  background-color: var(--dark-blue);
  background-image: url('../images/background-modal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 48px;
  padding: 48px 56px;
}

.contacts_form_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts_form_title {
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.contacts_form_title span {
  color: var(--primary-color);
}

.contacts_form form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts_form .form-field {
  margin-bottom: 0;
}

.contacts_form .button_main {
  width: 100%;
}

.contacts_form .modal_privacy_text {
  margin-top: 0;
  max-width: 100%;
}

/* Backdrop - Modalview */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(1, 31, 74, 0.4);
  backdrop-filter: blur(5px);
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 9999;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  max-height: calc(100vh - 40px);
  padding: 128px;
  background-color: var(--dark-blue);
  background-image: url('../images/background-modal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 48px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  transition: transform 0.2s;
  z-index: 10;
}

.modal-btn-close:hover {
  transform: scale(1.1);
}

.modal-btn-close img {
  width: 100%;
  height: 100%;
}

.modal-title {
  margin-bottom: 40px;
  color: #FFF;
  font-family: var(--play);
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0 60px;
}

.modal_descr {
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.modal-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field,
.modal_form_input {
  width: 100%;
  margin-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input_control {
  padding: 18px 32px;
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  border: 2px solid var(--gray);
  border-radius: 32px;
  background-color: transparent;
  color: var(--background);
  transition: background-color 0.2s;
}

.input_control::placeholder {
  color: #FFF;
}

.input_control:focus {
  outline: none;
  background-color: var(--gray);
  color: #FFF;
}

.modal form .button_main {
  margin-top: 16px;
}

.modal_privacy_text {
  margin-top: 8px;
  font-size: 12px;
  color: var(--gray);
  text-align: center;
  max-width: 213px;
}

.modal_privacy_span {
  color: var(--gray);
  text-decoration: underline;
  cursor: pointer;
}

.modal_privacy_span:hover {
  color: var(--primary-color);
}